
<section id="center-body">
    <div id="locations_data">
      <h1>Locations</h1>
      <div id="mainLocationsDiv">

      </div>
    </div>
    <div id="sensors_data">
      <h1>Sensors Data</h1>
      <div id="mainSensorsDiv">
      </div>
</section>

<script src="/js/dashboard.js"></script>