<!-- <div style="display: grid; grid-template-columns: 25% 25% 25% 25%; padding: 10px 30px; margin: 30px 0px;">
</div> -->
<!-- <div style="display: grid; grid-template-columns: 33% 33% 34%;">
</div> -->
<% bodyClass='body-class' %>
  <% cssFile='css/dashboard.css' %>


    <!-- Top Slider to add a new sensor -->
    <div id="add-sensor-top-slider">
      <div style="float: right;">
        <a id="add-sensor-form-cross-btn" href="#" onclick="closeSlider()"><i class="fas fa-times"></i></a>
      </div>
      <div id="add-sensor-form">
        <h1>Add Sensor</h1>
        <form>
          <div style="padding: 5px;">
            <label for="lname">Sensor Name:</label><br>
            <input required type="text" id="sensor-name-form" name="sensor-name-form" placeholder="Name"
              autocomplete="off">
          </div>
          <div style="display: grid; grid-template-columns: 50% 50%;">
            <div style="padding: 5px;">
              <label for="fname">Latitude&deg; :</label><br>
              <input required type="number" step="any" id="latitude" name="latitude" placeholder="Latitude"
                autocomplete="off">
            </div>
            <div style="padding: 5px;">
              <label for="lname">Longitude&deg; :</label><br>
              <input required type="number" step="any" id="longitude" name="longitude" placeholder="Longitude">
            </div>
          </div>
          <div style="display: grid; grid-template-columns: 50% 50%;">
            <div style="padding: 5px;">
              <label for="fname">Sensor Id:</label><br>
              <input style="color: #222;" type="text" id="sensor-id" name="sensor-id" value="" readonly>
              <p style="color: white; font-size: 0.6rem; font-family: 'Montserrat', sans-serif;">&#42;Sensor ID cannot
                be
                changed</p>
            </div>
            <div style="padding: 5px;">
              <label for="lname">Category:</label><br>
              <select id="sensor-categories" name="sensor-categories">
                <option value="numerical" selected>Numerical</option>
                <option value="categorical">Categorical</option>
                <option value="alphabetical">Alphabetical</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
          <button id="add-sensor-btn" type="submit">Add</button>
        </form>
      </div>
    </div>


    <!-- Left Coloumn containing the dufferent geo locations -->
    <div id="left-coloumn">
      <p style="color: white; font-size: 1.85rem; font-family: 'Staatliches', cursive; margin: auto;">IoT Web Portal
      </p>
      <div>
        <p style="margin: 40px 0px 5px 0px; color: white; font-size: 0.9rem; font-family: 'Staatliches', cursive;">
          LOCATIONS <i class="fas fa-map-marker-alt"></i>
        </p>
      </div>
      <div id="mainLocationsDiv">

      </div>
      <div style="margin: 18px 0px">
        <a href="/addGeolocation"><i class="fas fa-plus"></i> Add New</a>
      </div>
    </div>


    <div id="right-coloumn">

      <!-------------------------------------Main Navbar-------------------------------->
      <div id="navbar">
        <div class="nav-items">
          <div id="heading-text">
            <p style="color: #f96332; font-size: 1.2rem; font-family: 'Staatliches', cursive;">DASHBOARD</p>
          </div>

          <div id="hamburgerNavbar">
            <div id="menuToggle">
              <input onclick="checkedFunc(this)" id="check" type="checkbox" />

              <span></span>
              <span></span>
              <span></span>

              <ul id="menu">
                <div style="padding: 80px 20px;">
                  <p style="color: white; font-size: 1.85rem; font-family: 'Staatliches', cursive; margin: auto;">IoT
                    Web
                    Portal
                  </p>
                  <div>
                    <p
                      style="margin: 40px 0px 5px 0px; color: white; font-size: 0.9rem; font-family: 'Staatliches', cursive;">
                      LOCATIONS <i class="fas fa-map-marker-alt"></i>
                    </p>
                  </div>
                  <div id="navbarLocationsDiv">

                  </div>
                </div>
              </ul>
            </div>
          </div>

          <div style="float: right;">
            <ul>
              <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fas fa-sign-in-alt"></i></li>
              <li><a href="#"><i class="fas fa-user-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>


      <!-------------------------------------Center Body--------------------------->

      <!-- It contains the current selected location -->
      <div id="currentLocation">

      </div>

      <!-- <div> -->
      <!-- <div id="sensors-cards"> -->
      <div id="mainSensorsDiv">
        <div class="loader"></div>
      </div>
      <!-- </div> -->
      <!-- </div> -->


      <!-- Image Uploading / Showing Image if in database-->
      <div id="data">
        <div>
          <% if (images){ %>
            <% images.forEach(img=> { %>
              <div style="margin: 40px;">
                <img id="inside-map" style="max-width: 90%; max-height: 90%;" src=<%-img.name %> imageid=<%-img._id %>
                  alt="image" srcset="">
              </div>
              <% }); %>

                <% } else{ %>
                  <form id="insideImage" action="/uploadSensorImage" method="POST" enctype="multipart/form-data">
                    <div class="image-btn-and-dragger">
                      <button class="file-upload-btn" type="button"
                        onclick="$('.file-upload-input').trigger( 'click' )">Add
                        Image</button>
                      <div class="image-upload-wrap">
                        <input class="file-upload-input" name="img" type='file' onchange="readURL(this);"
                          accept="image/*" required />
                        <div class="drag-text">
                          <h3>Drag and drop a file or select add Image</h3>
                        </div>
                      </div>
                    </div>
                    <div class="file-upload-content">
                      <img class="file-upload-image" src="#" alt="your image" />
                      <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove
                          <button type="submit" class="remove-image">Upload</button>
                      </div>
                    </div>
                  </form>
                  <% } %>
        </div>

        <div id="imageButtons">
          <button onclick="addSensorBtn()">Add Sensor</button>
          <button>Edit Sensor</button>
          <button>Delete Sensor</button>
          <div id="coords"></div>
        </div>
      </div>

      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum architecto voluptate molestiae quas et illo
        consequatur. Fuga tempore adipisci iste voluptatem officiis fugiat ipsam placeat eos, earum quibusdam vero quas,
        maiores vel inventore quam ea, numquam ad? Repellat ea aut error, accusamus suscipit tempora dolores quibusdam,
        harum, accusantium minima rerum molestias doloribus? Aliquid praesentium eum id labore sint quisquam soluta esse
        expedita ipsum rerum impedit, nulla officia nemo nostrum et autem, nesciunt voluptatum veniam, earum quae nisi
        non mollitia repudiandae ducimus! Pariatur, quas porro? Ratione eius dolorum repellat, possimus minima earum,
        quisquam tempora illum eaque distinctio asperiores beatae sunt eos sapiente officia ex iste aliquam totam
        numquam amet? Iusto itaque cupiditate quod praesentium labore eveniet rem? Possimus accusantium, praesentium
        quas nobis voluptas dolor incidunt natus earum illo deserunt, sed eaque obcaecati. Dignissimos qui dolores quam
        perspiciatis voluptatem nostrum aliquam cumque. Ab modi nobis dignissimos temporibus at nisi, iste sequi
        voluptatibus voluptates accusamus mollitia aut similique in fuga atque cumque, ipsa doloremque! Praesentium
        nesciunt velit, labore amet possimus excepturi itaque eligendi dolorum consequatur nostrum culpa harum
        laudantium neque fugiat obcaecati sapiente deleniti repudiandae at pariatur tempore id. Repellendus est non
        autem accusamus quaerat ut ad, a ipsa adipisci rem! Deleniti, minima!</h1>

      <!----------------------------------------Footer------------------------------->
      <footer>
        <div id="socialIcons">
          <ul>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-github"></i></a></li>
            <li><a href=""><i class="far fa-envelope"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </footer>

    </div>


    <script src="/js/dashboard.js"></script>

 