<!-- <div style="display: grid; grid-template-columns: 25% 25% 25% 25%; padding: 10px 30px; margin: 30px 0px;">
</div> -->
<!-- <div style="display: grid; grid-template-columns: 33% 33% 34%;">
</div> -->
<% bodyId='body-class' %> 
<% cssFile='css/style.css' %> 
<div id="left-coloumn">
  <a href="/"
    style="color: white; font-size: 1.85rem; font-family: 'Staatliches', cursive; margin: auto;text-decoration: none;">IoT
    Web
    Portal
  </a>
  <div>
    <p style="margin: 40px 0px 5px 0px; color: white; font-size: 0.9rem; font-family: 'Staatliches', cursive;">
      LOCATIONS <i class="fas fa-map-marker-alt"></i>
    </p>
  </div>
  <div id="mainLocationsDiv">

  </div>
</div>

<div id="right-coloumn">

  <!-------------------------------------Main Navbar-------------------------------->

  <div id="navbar">
    <div class="nav-items">
      <div id="heading-text">
        <a href="/" style="color: #f96332; font-size: 1.2rem; font-family: 'Staatliches', cursive;">DASHBOARD</a>
      </div>

      <div id="hamburgerNavbar">
        <div id="menuToggle">
          <input onclick="checkedFunc(this)" id="check" type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <div style="padding: 80px 20px;">
              <p style="color: white; font-size: 1.85rem; font-family: 'Staatliches', cursive; margin: auto;">IoT Web
                Portal
              </p>
              <div>
                <p
                  style="margin: 40px 0px 5px 0px; color: white; font-size: 0.9rem; font-family: 'Staatliches', cursive;">
                  LOCATIONS <i class="fas fa-map-marker-alt"></i>
                </p>
              </div>
              <div id="navbarLocationsDiv">

              </div>
            </div>
          </ul>
        </div>
      </div>

      <div style="float: right;">
        <ul>
          <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-address-book" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="sensors_data">
    <div id="mainSensorsDiv">
      <div class="loader"></div>
    </div>
  </div>


  <footer>
    <!-- <div id="leftFooter">
      <p>Currently In Development Phase |
        Indian Institute of
        Technology Jodhpur</p>
    </div> -->

    <div id="socialIcons">
      <ul>
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
        <li><a href=""><i class="fab fa-github"></i></a></li>
        <li><a href=""><i class="far fa-envelope"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
  </footer>

</div>


<script src="/js/dashboard.js"></script>