<!-- <div style="display: grid; grid-template-columns: 25% 25% 25% 25%; padding: 10px 30px; margin: 30px 0px;">
</div> -->
<!-- <div style="display: grid; grid-template-columns: 33% 33% 34%;">
</div> -->


<div id="sensors_data">
  <div id="mainSensorsDiv">
    <div class="loader"></div>
  </div>
</div>



<script src="/js/dashboard.js"></script>